# Çekirdek bağımlılıklar
requests>=2.31,<3
selenium>=4.21,<5

# Opsiyonel (chromedriver’ı otomatik indirmek için)
webdriver-manager>=4,<5

# Eğer web arayüzü planlıyorsan bırak, yoksa silebilirsin
flask
